repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-toml
      - id: check-json

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        files: \.ipynb$
        args: ["--extra-keys=metadata.kernelspec metadata.language_info"]
