site_name: molpy
repo_name: molcrafts/molpy
repo_url: https://github.com/molcrafts/molpy

copyright: Copyright &copy; 2024 - 2025 Jichen Li

theme:
  name: material
  palette:
    - scheme: default
      primary: "teal"
      accent: "light blue"
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: "teal"
      accent: "light blue"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            heading_level: 2

nav: 
  - Home: index.md
  - Tutorials:
    - Structure: tutorials/struct.md
    - Frame & Trajectory: tutorials/frame.md
  - API Reference:
    - Overview: api/index.md
    - Core:
      - Structure: api/struct.md
      - Frame: api/frame.md
      - Trajectory: api/trajectory.md
      - Forcefield: api/forcefield.md

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - md_in_html
  - meta
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.blocks.caption

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

